body {
  margin: auto;
  max-width: 1210px;
  background-color: white;
  color: black;
  display: flex;
  font-family: "Noto Sans JP", sans-serif;
}

.trump {
  margin: auto auto 30px auto;
}
.trump_image {
  width: 300px;
  border: solid 2px darkslategrey;
}
h1 {
  color: brown;
}
.h2 {
  margin-top: 30px;
  font-size: 20px;
}
h3 {
  margin-left: 30px;
}
.list {
  margin: 30px;
}
.list-element {
  font-size: 18px;
  margin: 10px;
}
.list-element-2 {
  list-style-type: none;
}
.span {
  color: darkred;
}
.span_text {
  font-weight: bold;
}
.text {
  max-width: 700px;
}

.photos {
  max-width: 250px;
}
